<div class="container">
  <h1>Quotes</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
  <ul>
    <div *ngFor='let quote of quotes;let i = index'>
      <li>{{quote.description}}</li>
      <button (click)='toggleDetails(i)'>Show Author</button>
     <app-quote-detail [quote]='quote'></app-quote-detail>
      </div>
  </ul>
</div>
<!--</div>-->
   <div class="col-md-6">
   <app-quote-form></app-quote-form>
   <button type="button" class="btn btn-primary"float-right>Submit</button>
  </div>
</div>
